#contactPage{
    min-height: calc(100vh -4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactPageTittle{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.contactform{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;  
}


.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}
/* Button styling */
.submitBtn {
    background: white;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 2rem;
    cursor: pointer; /* Set cursor to pointer for better user feedback */
    transition: background-color 0.3s; /* Smooth transition effect */
    font-weight: bold;
}

/* Hover effect */
.submitBtn:hover {
    background: yellow; /* Change the background color on hover */
    color: rgb(0, 0, 0); /* Change the text color on hover */
}
.links{
    display: flex;
    flex-wrap: wrap;
}
.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}
.link[src$="insta.png"] {
    height: 2.5rem;
    width: 2.5rem;
}
